{% extends 'hack/base.html' %}
{% load static %}
{% block title %} Survey {% endblock %}
{% block body %}
<section class="banner-area relative about-banner" id="home">	
	<div class="overlay overlay-bg"></div>
	<div class="container">				
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					Survey				
				</h1>	
				<!-- <p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="contact.html"> Login	</a></!--> 
				</div>	
			</div>
		</div>
	</section>
	<!-- <h1>Survey</h1> -->
	<div class="whole-wrap">
		<div class="container">
			<div class="section-top-border">
				<div class="row">
					<div class="col-lg-12 col-md-8">
						<h3 class="mb-30">Survey Form</h3>
						<form action="#" method="post">{% csrf_token %}
							<!-- <div class="mt-10">
								<input type="text" name="first_name" placeholder="First Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Name'" required class="single-input">
							</div>
							<div class="mt-10">
								<input type="text" name="skills" placeholder="Skills" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Skills'" required class="single-input">
							</div>
							<div class="mt-10">
								<input type="text" name="city" placeholder="City" onfocus="this.placeholder = ''" onblur="this.placeholder = 'City'" required class="single-input">
							</div>
							<div class="mt-10">
								<input type="text" name="edc" placeholder="Education Background" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Education Background'" required class="single-input">
							</div>
							<div class="mt-10">
								<input type="text" name="age" placeholder="Age" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Age'" required class="single-input">
							</div>
							<div class="button-group-area mt-40">
								<input type="submit" class="genric-btn primary" value="Submit"></input>
							</div> -->
							{{form.as_p}}
							<div class="button-group-area mt-40">
								<input type="submit" class="genric-btn primary float-right" value="Submit"></input>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	{% endblock %}
	