{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>{% block title %}Home{% endblock %}</title>
	
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
	<!--
		CSS
		============================================= -->
		
		<link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
		<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
		<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
		<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
		<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
		
	</head>
	<body>
		<header id="header" id="home">
			<div class="header-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-sm-6 col-8 header-top-left no-padding">
							<ul>
							  {% comment %} <li><a href="#"><i class="fa fa-facebook"></i></a></li>
							  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
							  <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							  <li><a href="#"><i class="fa fa-behance"></i></a></li> {% endcomment %}
							</ul>			
						</div>
						<div class="col-lg-6 col-sm-6 col-4 header-top-right no-padding">
							<a href="tel:+9027576327"><span class="lnr lnr-phone-handset"></span> <span class="text">+99698532133</span></a>
							<a href="mailto:support@sharegyan.com"><span class="lnr lnr-envelope"></span> <span class="text">support@sharegyaan.in</span></a>			
						</div>
					</div>			  					
				</div>
		  </div>
			
			<div class="container main-menu">
				<div class="row align-items-center justify-content-between d-flex">
					<div id="logo">
						<a href="{% url 'home' %}"><h1 class="text-white">ShareGyaan</h1></a>
					</div>
					<nav id="nav-menu-container">
						<ul class="nav-menu">
							<li><a href="{% url 'home' %}">Home</a></li>
							<li><a href="{% url 'about'%}">About</a></li>
							<li><a href="{% url 'blog-home' %}">Blog</a></li>
							{% if user.is_authenticated %}
								<li><a href="{% url 'survey:survey_create' %}">Create Survey</a></li>
							{% endif %}
							<li><a href="{% url 'survey:survey_data' %}">Survey Stats</a></li>
							{%if user.is_authenticated %}
							<li class="menu-has-children"><a href="">Profile</a>
								<ul>
									<li><a href="{% url 'accounts:edit_profile' %}">Edit Profile</a></li>
									<li><a href="{% url 'accounts:edit_portfolio'%}">Portfolio - Edit</a></li>
								</ul>
							</li>
							{% endif %}
							{% if user.is_authenticated %}
							<li><a href="{% url 'post-create' %}">Create Post</a></li>
							<li><form action="{% url 'accounts:logout' %}" method="post">{% csrf_token %}<button class="btn btn primary" type="submit">Sign out</button></form></li>
							{% else %}
							<li><a href="{% url 'accounts:sign_in' %}">Sign In</a></li>
							{% endif %}

						</ul>
					</nav><!-- #nav-menu-container -->
				</div>
			</div>
		</header><!-- #header -->
		<!-- {% if messages %}
		{% for message in messages %}
		<div class="alert alert-{{ message.tags }}">
			{{ message }}
		</div>
		{% endfor %}
		{% endif %}
		{% block content %}
		{% endblock %} -->

		<!-- ------------------Main Content ---------->

			{% block body %}{% endblock %}
		

		<section class="cta-two-area">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 cta-left">
							{% if user.is_authenticated %}
								<h1>Continue the Good Work {{ user.first_name }} !</h1>
							{% else %}
								<h1>Are you interseted?</h1>
							{% endif %}
						</div>
						<div class="col-lg-4 cta-right">
							{% if user.is_authenticated %}
								<a class="primary-btn wh" href="{% url 'home' %}">Back To Home!</a>
							{% else %}
								<a class="primary-btn wh" href="{% url 'accounts:signup' %}">Sign Up Now!</a>
							{% endif %}
						</div>
					</div>
				</div>	
			</section>

		<!-- ------------END of Main content----------------->
		<!-- start footer Area -->
			<footer class="footer-area">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h5 class="text-center pb-2 pt-2" style="color: white;">&copy; ShareGyaan 2020</h5>
					</div>
				</div>
			</div>
			</footer>

			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
			<script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
			<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
			<script src="{% static 'js/easing.min.js' %}"></script>
			<script src="{% static 'js/hoverIntent.js' %}"></script>
			<script src="{% static 'js/superfish.min.js' %}"></script>
			<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
			<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
			<script src="{% static 'js/jquery.tabs.min.js' %}"></script>
			<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
			<script src="{% static 'js/owl.carousel.min.js' %}"></script>
			<script src="{% static 'js/mail-script.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>
			
		</body>
		</html>